@charset "utf-8";

/* 웹폰트 */
@font-face{font-family:"Pretendard";
    src:url("../fonts/Pretendard-Regular.woff2") format("woff2"),
        url("../fonts/Pretendard-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;}

@font-face{font-family:"Pretendard";
    src:url("../fonts/Pretendard-Bold.woff2") format("woff2"),
        url("../fonts/Pretendard-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;} 


html{font-size: 10px;
    --main:#321B14;
    --sub:#604036;
    --line: rgba(0,0,0,0.2);
    --mainfont:#3E3E3E;
    --titfont:#040404;
    --subfont:#757575;
    --zaraora:#E56F4A;
    --space10:10px;
    --space20:20px;
    --space30:30px;
    --space40:40px;
    --space50:50px;}

body{line-height: 1.5;
    font-size: 1.4rem;
    font-family: "Pretendard", "돋움", "맑은 고딕", "Malgun Gothic", "dotum", sans-serif;
    color: var(--mainfont);
    font-weight: 400;}

button{font-family: "Pretendard", "돋움", "맑은 고딕", "Malgun Gothic", "dotum", sans-serif;}


h1,h2,h3,h4,h5,h6{line-height: 1;}

/* 로그인창 css 가져옴 */
#join .login_page_wrap .row1{padding: 50px 0;
                                position: relative;}
#join .login_page_wrap .right{order: 2;
                              width: 25%;}
#join .login_page_wrap .right .logo_wrap{width: 83px;
                                        position: absolute;
                                        right: 0;
                                        top: 50%;
                                        transform: translateY(-50%);}
#join .login_page_wrap .right .logo_wrap img{width: 100%;}
#join .login_page_wrap .left{width: 30%;}
#join .login_page_wrap .left .block{display: block;
                                    width: 100%;}
#join .login_page_wrap .back_btn_wrap{width: 100%;
                                        display: flex;
                                        align-items: center;}
#join .login_page_wrap .back_btn_wrap .tit{order: 2;
                                            font-size: 18px;
                                            color: var(--main);}
#join .login_page_wrap .back_btn_wrap .back_icon{width: 15px; height: 15px;
                                                        border-right: 1px solid var(--main);
                                                        border-bottom: 1px solid var(--main);
                                                        transform: rotate(135deg); margin-left: 3px;
                                                        display: block;
                                                        margin-right: 3px;}

/* 회원가입 가입완료 css */
#join .join_complet_wrap {padding-bottom: 40px;}
#join .join_complet_wrap .tit_logo{width: 28.53vw;
                                    margin: auto;}
#join .join_complet_wrap .tit_logo .logo{width: 100%;
                                        display: block;
                                        margin-bottom: 40px;}
#join .join_complet_wrap .first_text_wrap{margin-bottom: 40px;}
#join .join_complet_wrap .first_text_wrap .text{text-align: center;
                                                color: var(--titfont);}
#join .join_complet_wrap .benefit_wrap .tit{font-size: 18px;
                                            color: var(--titfont);
                                            margin-bottom: 30px;}
#join .join_complet_wrap .benefit_area{display: flex;
                                        justify-content: space-between;
                                        flex-wrap: wrap-reverse;}
#join .join_complet_wrap .benefit_area>li{width: 42.67vw;
                                            height: 42.67vw;
                                            border: 1px solid var(--line);
                                            position: relative;
                                            margin-bottom: 4vw;}
#join .join_complet_wrap .benefit_area .benefit{width: 100%;
                                                position: absolute;
                                                top: 50%;
                                                left: 0;
                                                transform: translateY(-50%);}
#join .join_complet_wrap .benefit_area .benefit .icon_wrap{width: 12.8vw;
                                                            margin: auto;}
#join .join_complet_wrap .benefit_area .benefit .icon_wrap img{width: 100%;
                                                                display: block;}
#join .join_complet_wrap .benefit_area .benefit .benefit_text_wrap{padding-top: 20px;}
#join .join_complet_wrap .benefit_area .benefit .benefit_text_wrap>p{text-align: center;}
#join .join_complet_wrap .btn_box_wrap{background: var(--main);
                                        width: 100%;
                                        height: 16vw;
                                        border-radius: 10px;
                                        margin-top: 20px;}
#join .join_complet_wrap .btn_box_wrap .btn_box{text-align: center;
                                                display: block;
                                                width: 100%;
                                                color: #fff;
                                                line-height: 16vw;
                                                font-size: 16px;
                                                font-family: "Pretendard", "돋움", "맑은 고딕", "Malgun Gothic", "dotum", sans-serif;}
                                                







                                                        

